.show-times {
    margin-top: .5em;
    margin-bottom: .5em;
    width: 14em;
    padding: 6px, 10px;
    font-size: .75em;
    font-weight: bold;

    .single-time {
        list-style: none;
    }
        
}

.synopsis {
    margin-top: 1em;
    margin-bottom: 1em;
}