@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;600;700&display=swap');
$black:#231f20;
$white:#fff;
$mainRed:#ef4023;
$hollywood:#808080;
$indie:#cccccc;
$community:#c7b299;
$broadway:#fef2ce;

$text:'Oswald', sans-serif;;
$para: 25px;
$h1: 40px;
$h2: 30px;
$h3: 20px;
$h4: 18px;