@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;600;700&display=swap');
$black:#231f20;
$white:#fff;
$mainRed:#ef4023;
$hollywood:#808080;
$indie:#cccccc;
$community:#c7b299;
$broadway:#fef2ce;

$text:'Oswald', sans-serif;
$para: 20px;
$h1: 75px;
$h2: 60px;
$h3: 40px;
$h4: 25px;

$light: 300;
$medium: 600;
$bold: 700;