@import '../../../styles/variables';
nav {
  font-weight: 700;
  font-size:14px;
  color: $black;
  letter-spacing: .1px;
  a.nav-link {
    color:$black !important;
  }
  a:hover {
    color:$mainRed !important;
  }
}
nav.navbar{
  background-color:$white !important;
  border-top: #efefef 1px solid;
  border-bottom: #efefef 1px solid;
}
.search-group{
  margin-top: 55px;
}
.icon-inset {
  position: absolute;
  margin: 12px 20px;
  height: 25px;
  display: flex;
}
.text-box {
  border-radius: 100px;
  background-color: #efefef;
  border: none;
  padding-left:60px !important;
  height: 50px;
  width: 900px;
  .text-box::placeholder {
    padding-left: 60px !important;
}
}