@import '../../../styles/variables';

.show-card {
	font-family:$text;
	margin: 1em;
	padding: 0;
	justify-content: middle;
	width: 320px;

	.ticket-image {
		clip-path: url(#ticket-clip);
		img {
			width: 100%;
		}
	}

	.show-info {
		margin-top: -3em;
		.show-name {
			font-weight: 700;
		}
		.red-dash {
			background-color: $mainRed;
			height: 3px;
			width: 2em;
		}
		.show-date, .show-time{
			margin: 0;
			font-size: $h4;
		}
		a.view-info {
				color:$mainRed !important;
		}
		a:hover {
			color:$black !important;
		}
	}
}

