@import '../../../styles/variables';

.SingleSubscription {
  display: inline-block;
  margin:  20px 20px 50px;
  height: 100%;
  width: 100%;
  padding: 65px 0;
  color: $black;
  overflow: hidden;
  .ticketNugget {
    width: 300px;
    background-color: $white;
    padding: 10px 5px;
    margin: 0;
    h1 {
      font-size: $h2;
      font-weight: $light;
      margin-bottom: 0;
    }
    h2 {
      font-weight: bold;
      text-transform: capitalize !important;
    }
    h5 {
      margin-top: 0;
    }
    button {
      margin: 20px 0;
    }
  }
}
#Community {
  background-color: $community;
}
#Indie {
  background-color: $indie;
}
#Broadway {
  background-color: $broadway;
}
#Hollywood {
  background-color: $hollywood;
}

.clip-tix {
  clip-path: url(#vertTicket);
}