@import '../../../styles/variables';
footer {
  font-weight: 300;
  position: relative;
  bottom: 0;
  width: 100%;
  h3 {
    font-weight: 700;
  }
  a.nav-link {
    color:$white !important;
  }
  a:hover {
    color:$mainRed !important;
  }

  .footer-top {
    background-color: $black;
    color:$white;
    padding: 30px;
    .category-links{
      border-bottom: 1px $white solid;
      .nav {
        font-size:18px;
        color: $white;
        letter-spacing: .1px;
        margin-bottom: 30px;
      }
    }
  }

  .footer-bottom{
    background-color: $mainRed;
    color:$white;
    padding: 20px 30px;
    p {
      font-size: 14px;
      line-height:4px;
      font-weight: 300;
      margin-bottom:12px;
    }
    a{
      color:$white !important;
    }
    a:hover {
      color:$hollywood !important;
    }
    .footer-image {
      margin-bottom: 16px;
      img {
        height: 50px;
        text-align: left;
      }
    }
    a > img {
      height: 40px;
      margin: 0 5px;
    }
    .social-icon {
      margin: 0 20px;
    }
  }
}
.affiliate-group{
  margin: 30px 0;
  .logo-box {
    margin: 5px;
  }
  img {
    width: 200px;
  }
  .white-out {filter: invert(1000%) sepia(1%) saturate(1%) hue-rotate(1deg) brightness(1000%) contrast(80%);}
}

.newsletter {
  .form-group {
    height: 70px !important;
    margin-bottom: 0px !important;
  }
  .news-box {
    border-radius: 100px;
    background-color: #efefef;
    border: none;
    padding-left:20px !important;
    padding-right:50px !important;
    height: 50px;
    width: 320px;
  }
  .newsletter-btn {
    position: relative;
    align-self: end;
    bottom: 55px;
    right: -10px;
    margin: 0;
  }
}

.dropdown-item-text-category {
  color: $black !important;
  &:hover {
    color: $mainRed !important;
  }
}
